.app-form {
  width: 400px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;

  .form-field {
    margin-bottom: 15px;
    margin-left: 5px;

    input {
      height: 40px;
      width: 98%;
      padding: 0 5px 0 5px;

      outline: none;

      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
  }

  .form-field-item {
    width: 360px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;

    input {
      height: 40px;
      width: 100%;
      padding: 0 5px 0 5px;

      outline: none;

      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
  }
  .form-field-add {
    border: black dashed 1px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 40px;
    width: 360px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
  }

  .form-field-add:hover {
    opacity: 0.5;
  }

  .form-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .form-btn:hover {
    opacity: 0.5;
  }
}
