* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  box-sizing: border-box;
}

.telefone-area,
.email-area {
  background: rgb(243, 234, 227);

  border-bottom: 2px solid rgb(255, 247, 241);
}
